/* font-size */
/* font-family */
html {
  color: #000;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.11vw;
  line-height: 1.75;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0 !important;
}

body {
  margin: 0 !important;
  padding: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

ul,
ol,
li {
  list-style: none;
}

:where(nav li)::before {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

em {
  font-style: normal;
}

input,
select {
  word-break: break-all;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

img,
svg {
  width: 100%;
  max-width: 100%;
  vertical-align: bottom;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.l-header {
  align-items: center;
  color: #FFF;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 24px 40px 24px 48px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.l-header .l-header-logoArea {
  align-items: center;
  display: flex;
  gap: 12px;
}
.l-header .l-header-logoArea img {
  height: 70px;
  width: 84px;
}
.l-header .l-header-logoArea p {
  font-size: 1.4vw;
}
.l-header .l-header__inner--right {
  align-items: center;
  display: flex;
  gap: 64px;
}
.l-header .l-header__nav ul {
  align-items: center;
  display: flex;
  gap: 40px;
}
.l-header .l-header__nav--sns ul {
  align-items: center;
  display: flex;
  gap: 24px;
}
.l-header .l-header__nav--sns ul img {
  height: 55px;
  width: 55px;
}
.l-header .l-header__nav--sns ul .l-header--logo--x {
  height: 48px;
  width: 45px;
}

.l-footer {
  background: #E0EAFB;
  width: 100%;
}
.l-footer .l-footer__inner {
  display: flex;
  justify-content: space-between;
  padding: 2.78vw 1.2vw 2.78vw 9vw;
}
.l-footer .l-footer__inner .l-footer__linkArea {
  display: grid;
  gap: 1.67vw;
}
.l-footer .l-footer__inner .l-footer__linkArea .l-footer__title {
  align-items: center;
  display: flex;
  font-size: 1.7vw;
  gap: 1.11vw;
}
.l-footer .l-footer__inner .l-footer__linkArea .l-footer__title img {
  height: 6vw;
  width: 6vw;
}
.l-footer .l-footer__inner .l-footer__linkArea .l-footer__linkArea--middle {
  align-items: center;
  display: flex;
  gap: 5.56vw;
}
.l-footer .l-footer__inner .l-footer__linkArea .l-footer__linkArea--middle ul {
  display: grid;
  gap: 1vw;
}
.l-footer .l-footer__inner .l-footer__linkArea .l-footer__linkArea--middle ul li {
  align-items: center;
  display: grid;
  gap: 1vw;
  grid-template-columns: 28px 1fr;
}
.l-footer .l-footer__inner .l-footer__linkArea nav ul {
  align-items: center;
  display: flex;
  gap: 24px;
}
.l-footer .l-footer__inner .l-footer__linkArea nav ul li img {
  height: 3.85vw;
  width: 3.85vw;
}
.l-footer .l-footer__inner .l-footer__linkArea nav ul li .l-footer__image--x {
  height: 3.25vw;
  width: 3.3vw;
}
.l-footer .l-footer__inner .l-footer__sitemap h3 {
  font-size: 1.7vw;
}
.l-footer .l-footer__inner .l-footer__sitemap nav {
  margin-top: 24px;
}
.l-footer .l-footer__inner .l-footer__sitemap nav ul {
  display: grid;
  gap: 4px;
}
.l-footer .l-footer__inner .l-footer__images {
  align-items: flex-end;
  display: flex;
}
.l-footer .l-footer__inner .l-footer__images img {
  height: 12.7vw;
  width: 7.8vw;
}
.l-footer .l-footer__under {
  background: #000;
  color: #FFF;
  font-size: 1.7vw;
  padding: 1.11vw 0;
  text-align: center;
}

.c-subtitle {
  font-size: 3.81vw;
  font-weight: bold;
  font-family: "Shippori Mincho", serif;
  line-height: 1.5;
  text-align: center;
}

.c-mv {
  position: relative;
  height: 300px;
}
.c-mv img {
  height: 100%;
}
.c-mv h1 {
  color: #FFF;
  font-size: 2.22vw;
  font-weight: bold;
  font-family: "Shippori Mincho", serif;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
}

.p-top__mv {
  position: relative;
}
.p-top__mv .p-top__mv-slider {
  right: 0;
  position: absolute;
  top: 27vw;
  width: 40vw;
}
.p-top__mv .p-top__mv-slider .p-top__mv-slider-list {
  padding-top: 32px;
}
.p-top__mv .p-top__mv-slider .p-top__mv-slider-slide {
  background: rgba(0, 0, 0, 0.4);
  padding: 1.4vw 3.6vw;
  position: relative;
}
.p-top__mv .p-top__mv-slider .p-top__mv-slider-slide .p-top__mv-slider-slider-subtitle {
  font-size: 3.33vw;
  font-family: "Shippori Mincho", serif;
  line-height: 1;
  opacity: 0.5;
  position: absolute;
  text-align: center;
  top: -3.7vw;
  width: 100%;
}
.p-top__mv .p-top__mv-slider .p-top__mv-slider-slide h2 {
  color: #FFF;
  font-size: 2.22vw;
  font-weight: bold;
}
.p-top__mv .p-top__mv-slider .p-top__mv-slider-slide h2 span {
  color: #FCFE00;
}
.p-top__mv .p-top__mv-slider .p-top__mv-slider-slide p {
  color: #FFF;
  margin-top: 1.11vw;
}

.p-top-vision {
  background: #F7F4ED;
  padding: 64px 0;
  position: relative;
  transform: skewY(-5deg) translateY(-110px);
}
.p-top-vision .p-top-vision__inner {
  transform: skewY(5deg);
  text-align: center;
}
.p-top-vision .p-top-vision__textArea {
  line-height: 2.2;
  margin: 0 auto;
  padding: 3.33vw;
  position: relative;
  width: 60%;
}
.p-top-vision .p-top-vision__textArea img {
  height: 30vw;
  right: -8vw;
  position: absolute;
  top: 0;
  width: 9vw;
}
.p-top-vision .p-top-vision--triangle {
  bottom: 0;
  border-right: 65vw solid transparent;
  border-left: 0vw solid transparent;
  border-bottom: 7.35vw solid #F6F694;
  height: 0;
  position: absolute;
  width: 0;
}

.p-top-mission {
  padding-bottom: 12vw;
  position: relative;
}
.p-top-mission .p-top-mission__slider {
  margin: 3.81vw auto 0;
  padding: 0 3.8vw;
  width: 72vw;
}
.p-top-mission .p-top-mission__list {
  width: 100%;
}
.p-top-mission .p-top-mission__list .p-top-mission__items {
  border-radius: 28px;
  overflow: hidden;
}
.p-top-mission .p-top-mission__list .p-top-mission__items .p-top-mission__items--top {
  align-items: center;
  display: grid;
  gap: 0.8vw;
  grid-template-columns: repeat(2, -webkit-max-content);
  grid-template-columns: repeat(2, max-content);
  justify-content: center;
  padding: 0.8vw 0;
}
.p-top-mission .p-top-mission__list .p-top-mission__items .p-top-mission__items--top img {
  height: 3.6vw;
  width: 3.6vw;
}
.p-top-mission .p-top-mission__list .p-top-mission__items .p-top-mission__items--top h3 {
  color: #FFF;
  font-size: 1.497vw;
}
.p-top-mission .p-top-mission__list .p-top-mission__items p {
  font-size: 1vw;
  height: 10.4vw;
  padding: 1.2vw 2vw;
}
.p-top-mission .p-top-mission__list .p-top-mission__items.first {
  border: 1px solid #102B9F;
}
.p-top-mission .p-top-mission__list .p-top-mission__items.first .p-top-mission__items--top {
  background: #102B9F;
}
.p-top-mission .p-top-mission__list .p-top-mission__items.second {
  border: 1px solid #0729CC;
}
.p-top-mission .p-top-mission__list .p-top-mission__items.second .p-top-mission__items--top {
  background: #0729CC;
}
.p-top-mission .p-top-mission__list .p-top-mission__items.third {
  border: 1px solid #042BFE;
}
.p-top-mission .p-top-mission__list .p-top-mission__items.third .p-top-mission__items--top {
  background: #042BFE;
}
.p-top-mission .p-top-mission__list .p-top-mission__items.fourth {
  border: 1px solid #3066FF;
}
.p-top-mission .p-top-mission__list .p-top-mission__items.fourth .p-top-mission__items--top {
  background: #3066FF;
}
.p-top-mission .p-top-mission__list .p-top-mission__items.fifth {
  border: 1px solid #5790FF;
}
.p-top-mission .p-top-mission__list .p-top-mission__items.fifth .p-top-mission__items--top {
  background: #5790FF;
}
.p-top-mission .swiper-button-prev,
.p-top-mission .swiper-button-next {
  height: 3vw;
  width: 3vw;
}
.p-top-mission .swiper-button-prev {
  left: 0vw;
}
.p-top-mission .swiper-button-next {
  right: 0vw;
}
.p-top-mission .swiper-button-prev:after,
.p-top-mission .swiper-button-next:after {
  content: "";
}
.p-top-mission .p-top-mission__image1 {
  left: 9vw;
  position: absolute;
  top: 3.7vw;
  width: 23vw;
}
.p-top-mission .p-top-mission__image2 {
  bottom: 6.3vw;
  right: 9vw;
  position: absolute;
  width: 23vw;
}

.p-top-news {
  background: #F7F4ED;
  padding: 5.45vw 0;
}
.p-top-news .p-top-news__list {
  background: #FFF;
  border-radius: 28px;
  box-shadow: 0px 4px 8px #707070;
  margin: 2.36vw auto 0;
  padding: 2.22vw;
  width: 60vw;
}
.p-top-news .p-top-news__list li a {
  align-items: center;
  display: grid;
  grid-template-columns: -webkit-max-content 1fr -webkit-min-content;
  grid-template-columns: max-content 1fr min-content;
  padding: 2.04vw 2vw;
}
.p-top-news .p-top-news__list li a .p-top-news__time {
  align-items: center;
  display: grid;
  gap: 0.85vw;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr;
}
.p-top-news .p-top-news__list li a .p-top-news__time img {
  height: 2vw;
  width: 2vw;
}
.p-top-news .p-top-news__list li a .p-top-news-items__text {
  margin-left: 6vw;
}
.p-top-news .p-top-news__list li a .p-top-news-items__button {
  background: #EFC90C;
  border-radius: 50%;
  height: 2.78vw;
  position: relative;
  width: 2.78vw;
}
.p-top-news .p-top-news__list li a .p-top-news-items__button span {
  background: #FFF;
  display: block;
  height: 0.2vw;
  position: absolute;
  width: 1.2vw;
}
.p-top-news .p-top-news__list li a .p-top-news-items__button span:first-of-type {
  left: 0.81vw;
  top: 0.98vw;
  transform: rotate(45deg);
}
.p-top-news .p-top-news__list li a .p-top-news-items__button span:last-of-type {
  transform: rotate(135deg);
  bottom: 0.88vw;
  left: 0.8vw;
}
.p-top-news .p-top-news__list li a:first-of-type {
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}
.p-top-news .p-top-news__list li a:last-of-type {
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}
.p-top-news .p-top-news__list li a:nth-of-type(2n + 1) {
  background: #F5F7F9;
}
.p-top-news .p-top-news__list li a:nth-of-type(2n) {
  background: #F7F7ED;
}

.p-company {
  background-image: url("../../images/company/bg-company.png");
  background-size: cover;
  padding: 112px 0;
  position: relative;
}
.p-company .p-company__contents {
  display: grid;
  gap: 2px;
  grid-template-columns: 230px 1fr;
  margin: 0 auto;
  width: 960px;
}
.p-company .p-company__contents dt {
  border-radius: 10px;
  color: #FFF;
  padding: 8px 0;
  text-align: center;
}
.p-company .p-company__contents dd {
  background: #F7F4ED;
  border-radius: 10px;
  font-size: 1.4vw;
  padding: 8px 0 8px 8px;
}
.p-company .p-company__contents .first {
  background: #5790FF;
}
.p-company .p-company__contents .second {
  background: #3066FF;
}
.p-company .p-company__contents .third {
  background: #042BFE;
}
.p-company .p-company__contents .fourth {
  background: #0729CC;
}
.p-company .p-company__contents .fifth {
  background: #102B9F;
}

.p-service {
  background-image: url("../../images/service/bg-service.png");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 5.56vw 0 8.33vw;
}
.p-service .p-service__titleArea {
  text-align: center;
  margin-top: 2.78vw;
}
.p-service .p-service__titleArea .p-service__title {
  align-items: center;
  display: grid;
  font-size: 2.22vw;
  font-weight: bold;
  font-family: "Shippori Mincho", serif;
  gap: 0.3vw;
  grid-auto-flow: column;
  line-height: 2;
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.p-service .p-service__titleArea .p-service__title span {
  font-size: 3.33vw;
  line-height: 1;
}
.p-service .p-service__titleArea .p-service__title span:first-of-type {
  align-self: flex-start;
}
.p-service .p-service__titleArea .p-service__title span:last-of-type {
  align-self: flex-end;
}
.p-service .p-service__titleArea .p-service__subtitle {
  font-size: 1.4vw;
  margin-top: 1.7vw;
}
.p-service .p-service__titleArea .p-service__text {
  margin-top: 1.7vw;
}
.p-service .p-service__contents-list {
  display: grid;
  gap: 11vw;
  margin-top: 10vw;
}
.p-service .p-service__contents-list .p-service__contents-items {
  position: relative;
  width: 75%;
}
.p-service .p-service__contents-list .p-service__contents-textArea {
  background: #F7F4ED;
  padding: 3.33vw 0;
  text-align: center;
}
.p-service .p-service__contents-list .p-service__contents-textArea h3 {
  font-size: 1.497vw;
}
.p-service .p-service__contents-list .p-service__contents-textArea h3 span {
  color: #0729CC;
  font-size: 2.04vw;
  font-weight: bold;
}
.p-service .p-service__contents-list .p-service__contents-textArea p {
  margin: 1.7vw auto 0;
  text-align: left;
  width: 50%;
}
.p-service .p-service__contents-list .p-service__contents-textArea p span {
  color: #0729CC;
  font-weight: bold;
}
.p-service .p-service__contents-list .p-service__contents-image {
  right: -150px;
  position: absolute;
  top: -40px;
  width: 26vw;
}
.p-service .p-service__contents-list .p-service__contents-items:nth-of-type(2n) {
  margin-left: auto;
}
.p-service .p-service__contents-list .p-service__contents-items:nth-of-type(2n) .p-service__contents-image {
  right: 0;
  left: -150px;
}

.p-contact {
  padding: 8.5vw 0;
}
.p-contact .p-contact__bannerArea {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  width: 65vw;
}
.p-contact .p-contact__bannerArea .p-contact__banner-item {
  color: #FFF;
  padding: 1.7vw 0px;
  text-align: center;
}
.p-contact .p-contact__bannerArea .p-contact__banner-item:first-of-type {
  background-image: url("../images/contact/bg-contact-tel.jpg");
  background-size: cover;
  text-shadow: 1px 1px 1px #3B4972;
}
.p-contact .p-contact__bannerArea .p-contact__banner-item:last-of-type {
  background-image: url("../images/contact/bg-contact-mail.jpg");
  background-size: cover;
  text-shadow: 1px 1px 1px #9B735A;
}
.p-contact .p-contact__bannerArea .p-contact__banner-item h3 {
  align-items: center;
  display: flex;
  font-size: 2.36vw;
  gap: 0.4vw;
  justify-content: center;
}
.p-contact .p-contact__bannerArea .p-contact__banner-item h3 img {
  height: 3.2vw;
  width: 3.2vw;
}
.p-contact .p-contact__bannerArea .p-contact__banner-item .p-contact__link--tel {
  font-size: 2.22vw;
}
.p-contact .p-contact__bannerArea .p-contact__banner-item .p-contact__banner-text {
  font-size: 1.4vw;
  line-height: 2.9;
}
.p-contact .p-contact__bannerArea .p-contact__banner-item .p-contact__banner-reception {
  align-items: center;
  display: flex;
  font-size: 1.91vw;
  gap: 0.7vw;
  justify-content: center;
  margin-top: 1vw;
}
.p-contact .p-contact__bannerArea .p-contact__banner-item .p-contact__banner-reception p {
  border: 1px solid #FFF;
  border-radius: 4px;
  line-height: 1;
  padding: 0.8vw;
}

.p-contact-form {
  background: #F7F4ED;
  padding: 5.56vw 0;
}
/*# sourceMappingURL=style.css.map */