@use "../../global/forwards" as f;
@use "../../global/mixin/breakpoint" as m;

.c-mv {
  position: relative;
  height: 300px;

  @include m.mq(sp) {
    height: 140px;
  }

  img {
    height: 100%;
  }

  h1 {
    color: f.$white;
    font-size: f.$fz-32;
    font-weight: bold;
    font-family: f.$Mincho;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 67%;

    @include m.mq(sp) {
      font-size: 16px;
      top: 72%;
    }
  }
}