@use "../global/forwards" as f;
@use "../global/mixin/breakpoint" as m;

// オープニングアニメーション
.p-top-opening {
  background: f.$bg-white;
  display: none;
  height: 100vh;
  position: fixed;
  width: 100%;
  z-index: 80;
}

.p-top-opening__bar {
  background: #042BFE;
  height: 0px;
  position: absolute;
  transition: height 1.5s;
  width: 12vw;
}

.bar-left {
  bottom: 0;
  left: 0;
}

.bar-right {
  right: 0;
  top: 0;
}

.p-top-opening__title {
  align-items: center;
  display: flex;
  font-size: 7vw;
  font-weight: bold;
  gap: 1.7vw;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -130%);
  z-index: 82;

  @include m.mq(sp) {
    font-size: 32px;
  }

  span {
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.5s, transform 0.5s;
  }
}

.p-top-opening__title .active {
  opacity: 1;
  transform: translateY(0);
}

.p-top-opening__title-shadow {
  align-items: center;
  color: #042BFE;
  display: flex;
  font-size: 7vw;
  font-weight: bold;
  gap: 1.7vw;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-51.6%, -127.4%);
  z-index: 81;

  @include m.mq(sp) {
    font-size: 32px;
  }

  div {
    display: flex;
  }

  span {
    display: inline-block;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.5s, transform 0.5s;
  }

  div .active {
    opacity: 1;
    transform: translateY(0);
  }
}

.p-top-opening__contents {
  align-items: center;
  display: flex;
  gap: 2vw;
  left: 29%;
  position: absolute;
  top: 50%;

  @include m.mq(sp) {
    gap: 8px;
    left: 21%;
  }

  img {
    height: 5vw;
    opacity: 0;
    transition: 2.5s;
    width: 5vw;

    @include m.mq(sp) {
      height: 40px;
      width: 40px;
    }
  }

  img.active {
    opacity: 1;
  }

  p {
    font-size: 4vw;
    font-weight: bold;

    @include m.mq(sp) {
      font-size: 18px;
    }

    span {
      display: inline-block;
      opacity: 0;
      transform: translateY(100%);
      transition: opacity 0.5s, transform 0.5s;
    }

    span.active {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.p-top-opening__images {
  position: absolute;
  left: 71%;
  opacity: 0;
  top: 50%;
  transform: translateX(100%);
  transition: opacity 1.5s, transform 1.5s;
  width: 8vw;

  @include m.mq(sp) {
    top: 49%;
    width: 48px;
  }
}

.p-top-opening__images.active {
  opacity: 1;
  transform: translateX(0);
}

.p-top-second-opening {
  height: 200vw;
  position: fixed;
  left: -300%;
  top: -200%;
  width: 300vw;
  z-index: 85;

  @include m.mq(sp) {
    height: 500vw;
    left: 0;
    top: -300%;
    width: 200vw;
  }
}

@include m.mq(pc) {
  @keyframes slide-in {
    0% {
      left: -300%;
      top: -200%;
    }

    100% {
      left: 0;
      top: 0;
    }
  }
}

@include m.mq(sp) {
  @keyframes slide-in {
    0% {
      left: 0;
      top: -300%;
    }

    100% {
      left: 0;
      top: 100%;
    }
  }
}

.p-top-final-opening {
  align-items: center;
  background: #000;
  display: none;
  height: 100vh;
  justify-content: center;
  transition: 4s;
  opacity: 1;
  position: fixed;
  width: 100vw;
  z-index: 86;

  img {
    height: 7vw;
    width: 7vw;
    @include m.mq(sp) {
      height: 48px;
      width: 48px;
    }
  }

  .p-top-final-opening__text {
    align-items: center;
    color: f.$white;
    display: flex;
    font-size: 4.5vw;
    font-weight: bold;
    gap: 2vw;
    opacity: 0;
    transition: 2.5s;
    @include m.mq(sp) {
      font-size: 32px;
      gap: 8px;
    }
  }
}

// メインビジュアル
.p-top__mv {
  position: relative;

  @keyframes contentScale {
    0% {
      transform: scale(1.1);
    }

    100% {
      transform: scale(1);
    }
  }

  .p-top__mv-slider {
    right: 0;
    position: absolute;
    top: 27vw;
    width: 40vw;

    @include m.mq(sp) {
      top: 17%;
      width: 100%;
    }

    .p-top__mv-slider-list {
      padding-top: 2.22vw;

      @include m.mq(sp) {
        padding-top: 32px;
      }
    }

    .p-top__mv-slider-slide {
      background: rgba($color: f.$bg-black, $alpha: 0.4);
      padding: 1.4vw 3.6vw;
      position: relative;

      @include m.mq(sp) {
        padding: 20px 28px;
      }

      .p-top__mv-slider-slider-subtitle {
        font-size: f.$fz-48;
        font-family: f.$Mincho;
        line-height: 1;
        opacity: 0.5;
        position: absolute;
        text-align: center;
        top: -3.7vw;
        width: 100%;

        @include m.mq(sp) {
          font-size: 34px;
          left: 0;
          top: -36px;
        }
      }

      h2 {
        color: f.$white;
        font-size: f.$fz-32;
        font-weight: bold;
        line-height: 1.4;

        @include m.mq(sp) {
          font-size: 27px;
        }

        span {
          color: f.$yellow;
        }
      }

      p {
        color: f.$white;
        margin-top: 1.11vw;

        @include m.mq(sp) {
          font-size: 14px;
          margin-top: 14px;
        }
      }
    }
  }
}

// ビジョン
.p-top-vision {
  background: f.$bg-beige;
  padding: 4.35vw 0;
  position: relative;
  transform: skewY(-5deg) translateY(-110px);

  @include m.mq(sp) {
    padding: 40px 0;
    transform: skewY(0deg) translateY(0px);
  }

  .p-top-vision__inner {
    transform: skewY(5deg);
    text-align: center;

    @include m.mq(sp) {
      transform: skewY(0deg);
    }

    .c-subtitle {
      @include m.mq(sp) {
        font-size: 22px;
      }
    }
  }

  .p-top-vision-title {
    @include m.mq(sp) {
      color: #D0BEAF;
      font-size: 16px;
      font-weight: bold;
      font-family: f.$Mincho;
      margin-top: 20px;
    }
  }

  .p-top-vision__textArea {
    line-height: 2.4;
    margin: 0 auto;
    padding: 3.33vw;
    position: relative;
    width: 60%;

    img {
      height: 30vw;
      right: -8vw;
      position: absolute;
      top: 0;
      width: 9vw;
    }
  }

  .p-top-vision__textArea-sp {
    font-size: 14px;
    margin-top: 20px;
    padding: 0 16px;
    transform: skewY(0deg);
    text-align: left;
    width: 100%;
  }

  .p-top-vision--triangle {
    bottom: 0;
    border-right: 65vw solid transparent;
    border-left: 0vw solid transparent;
    border-bottom: 7.35vw solid #F6F694;
    height: 0;
    position: absolute;
    width: 0;
  }
}

// ミッション
.p-top-mission {
  padding-bottom: 12vw;
  position: relative;

  @include m.mq(sp) {
    padding: 40px 4px;
  }

  .c-subtitle {
    @include m.mq(sp) {
      font-size: 22px;
    }
  }

  .p-top-mission-title {
    @include m.mq(sp) {
      color: #CCC9C7;
      font-size: 16px;
      font-weight: bold;
      font-family: f.$Mincho;
      margin-top: 20px;
      text-align: center;
    }
  }

  .p-top-mission__slider {
    margin: 3.81vw auto 0;
    padding: 0 5.8vw;
    width: 79vw;

    @include m.mq(sp) {
      margin: 20px auto 0;
      padding: 0 32px;
      width: 100%;
    }
  }

  .p-top-mission__list {
    width: 100%;

    .p-top-mission__items {
      border-radius: 28px;
      overflow: hidden;
      transition: 1s;
      opacity: 0;

      .p-top-mission__items--top {
        align-items: center;
        display: grid;
        gap: 0.8vw;
        grid-template-columns: repeat(2, max-content);
        justify-content: center;
        padding: 0.8vw 0;

        @include m.mq(sp) {
          gap: 8px;
          padding: 12px 0;
        }

        img {
          height: 3.3vw;
          width: 3.3vw;

          @include m.mq(sp) {
            height: 36px;
            width: 36px;
          }
        }

        h3 {
          color: f.$white;
          font-size: f.$fz-18;

          @include m.mq(sp) {
            font-size: 14px;
          }
        }
      }

      p {
        font-size: 1vw;
        height: 13vw;
        padding: 1.2vw 2vw;

        @include m.mq(sp) {
          font-size: 14px;
          height: auto;
          padding: 16px 12px 24px;
        }
      }
    }

    .swiper-slide-active {
      opacity: 1;
    }

    .swiper-slide-next {
      opacity: 1;
    }

    .p-top-mission__items.first {
      border: 1px solid #102B9F;
      @include m.mq(sp) {
        border: 1px solid #042BFE;
      }

      .p-top-mission__items--top {
        background: #102B9F;
        @include m.mq(sp) {
          background: #042BFE;
        }
      }
    }

    .p-top-mission__items.second {
      border: 1px solid #0729CC;
      @include m.mq(sp) {
        border: 1px solid #F3B200;
      }

      .p-top-mission__items--top {
        background: #0729CC;
        @include m.mq(sp) {
          background: #F3B200;
        }
      }
    }

    .p-top-mission__items.third {
      border: 1px solid #042BFE;
      @include m.mq(sp) {
        border: 1px solid #042BFE;
      }

      .p-top-mission__items--top {
        background: #042BFE;
        @include m.mq(sp) {
          background: #042BFE;
        }
      }
    }

    .p-top-mission__items.fourth {
      border: 1px solid #3066FF;
      @include m.mq(sp) {
        border: 1px solid #F3B200;
      }

      .p-top-mission__items--top {
        background: #3066FF;
        @include m.mq(sp) {
          background: #F3B200;
        }
      }
    }

    .p-top-mission__items.fifth {
      border: 1px solid #5790FF;
      @include m.mq(sp) {
        border: 1px solid #042BFE;
      }

      .p-top-mission__items--top {
        background: #5790FF;
        @include m.mq(sp) {
          background: #042BFE;
        }
      }
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    height: 3vw;
    width: 3vw;

    @include m.mq(sp) {
      height: 22px;
      width: 22px;
    }
  }

  .swiper-button-prev {
    left: 0vw;
  }

  .swiper-button-next {
    right: 0vw;
  }

  .swiper-button-prev:after,
  .swiper-button-next:after {
    content: "";
  }

  .p-top-mission__image1 {
    left: 5.6vw;
    position: absolute;
    top: 1.9vw;
    width: 23vw;
  }

  .p-top-mission__image2 {
    bottom: 3.5vw;
    right: 5vw;
    position: absolute;
    width: 23vw;
  }
}

// ハンバーガーメニューがactive
.swiper.active {
  z-index: 0;
}

// ニュース
.p-top-news {
  background: f.$bg-beige;
  padding: 5.45vw 0;

  @include m.mq(sp) {
    padding: 40px 16px;
  }

  .c-subtitle {
    @include m.mq(sp) {
      font-size: 22px;
    }
  }

  .p-top-news__list {
    background: f.$bg-white;
    border-radius: 28px;
    box-shadow: 0px 4px 8px #707070;
    margin: 2.36vw auto 0;
    padding: 2.22vw;
    width: 60vw;

    @include m.mq(sp) {
      margin: 24px auto 0;
      padding: 12px 16px;
      width: 100%;
    }

    li {
      &:first-of-type {
        border-top-right-radius: 16px;
        border-top-left-radius: 16px;
      }

      &:last-of-type {
        border-bottom-right-radius: 16px;
        border-bottom-left-radius: 16px;
      }

      &:nth-of-type(2n + 1) {
        background: f.$bg-news-01;
      }

      &:nth-of-type(2n) {
        background: f.$bg-news-02;
      }
    }

    li a {
      align-items: center;
      display: grid;
      grid-template-columns: max-content 1fr min-content;
      padding: 2.04vw 2vw;

      @include m.mq(sp) {
        padding: 20px 16px;
      }

      .p-top-news__time {
        align-items: center;
        display: grid;
        gap: 0.85vw;
        grid-template-columns: max-content 1fr;

        @include m.mq(sp) {
          font-size: 12px;
          gap: 6px;
        }

        img {
          height: 2vw;
          width: 2vw;

          @include m.mq(sp) {
            height: 12px;
            width: 14px;
          }
        }
      }

      .p-top-news-items__text {
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        margin-left: 6vw;

        @include m.mq(sp) {
          font-size: 14px;
          margin-left: 12px;
        }
      }

      .p-top-news-items__button {
        background: f.$bg-news-button;
        border-radius: 50%;
        height: 2.78vw;
        margin-left: 2vw;
        position: relative;
        width: 2.78vw;

        @include m.mq(sp) {
          height: 18px;
          width: 18px;
        }

        span {
          background: f.$bg-white;
          display: block;
          height: 0.2vw;
          position: absolute;
          width: 1.2vw;

          @include m.mq(sp) {
            height: 2px;
            width: 8px;
          }

          &:first-of-type {
            left: 0.81vw;
            top: 0.98vw;
            transform: rotate(45deg);

            @include m.mq(sp) {
              left: 5px;
              top: 6px;
            }
          }

          &:last-of-type {
            transform: rotate(135deg);
            bottom: 0.88vw;
            left: 0.8vw;

            @include m.mq(sp) {
              left: 5px;
              bottom: 5.5px;
            }
          }
        }
      }
    }
  }
}