@charset "UTF-8";

$black: #000;
$white: #FFF;
$blue: #0729CC;
$yellow: #FCFE00;

$text-shadow-01: #0f131f;
$text-shadow-02: #9B735A;

$bg-black: #000;
$bg-white: #FFF;
$bg-beige: #F7F4ED;
$bg-yellow: #F6F694;
$bg-footer: #E0EAFB;
$bg-news-01: #F5F7F9;
$bg-news-02: #F7F7ED;
$bg-news-button: #EFC90C;

$border-gray: #707070;