/* font-size */
$fz-12: 12px;
$fz-14: 14px;
$fz-16: 1.11vw;
$fz-18: 1.225vw;
$fz-20: 1.4vw;
$fz-22: 1.497vw;
$fz-24: 1.7vw;
$fz-28: 1.91vw;
$fz-30: 2.04vw;
$fz-32: 2.22vw;
$fz-36: 2.36vw;
$fz-40: 2.78vw;
$fz-48: 3.33vw;
$fz-56: 3.81vw;
$fz-64: 4.35vw;

/* font-family */
$NotoSansJp: "Noto Sans JP", sans-serif;
$Mincho: "Shippori Mincho", serif;